@{
    var usuario = ViewData["Usuario"] as string;
}


<head>
    <!-- Resto de las etiquetas head -->
    <title>ITMNAM</title>
</head>
<body>
    <!-- Contenido de la vista -->

    <h1></h1>

    <!-- Resto del contenido -->
</body>







<script>
    function irInicio() {
        window.location.href = '/Home/Index';
    }
</script>