/* _content/BD/Views/Principal/Index.cshtml.rz.scp.css */
/*=========================Datos generales y espeificos para Inicio====================================*/
/* Estilos generales */
body[b-vz1gpb0n9e] {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    padding: 20px;
    flex-grow: 1;

    background-color: #2199e9;
}

/* Encabezado y contenido principal */
header[b-vz1gpb0n9e] {
    background-color: #2199e9;
    color: #fff;
    padding: 20px;
    text-align: center;
    border: 3px solid #295c90;
    z-index: 1000;
}


nav ul[b-vz1gpb0n9e] {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav li[b-vz1gpb0n9e] {
    display: inline;
    margin-right: 20px;
}


/*--------------------boton general----------------------*/
button[b-vz1gpb0n9e]{
    font-size: 0.92em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 8px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    color: rgb(255, 255, 255);
    background-color: rgb(40, 120, 240);

}

button:hover[b-vz1gpb0n9e]{
    background-color: rgb(22, 73, 216);
}


/*------------------- Olvido su contrasenza ----------------------------*/
.olvido-contrasena[b-vz1gpb0n9e] {
    color: #1f6a96; 
    font-size: 13px;
    text-decoration: underline; 
    margin-top: 10px; 
    margin-left: 60%;
    display: inline-block; 
}

.olvido-contrasena:hover[b-vz1gpb0n9e] {
    text-decoration: none; 
}


@media screen and (max-width: 900px){
    .olvido-contrasena[b-vz1gpb0n9e] {
        margin-left: 40%;
    }
}


/*--------------------------barra de entrada--------------------*/
.input-grande[b-vz1gpb0n9e] {
    width: 380px; 
    height: 30px; 
    margin-left: 20px;
}

.buttonIngresar[b-vz1gpb0n9e]{
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 38px; 
}

@media screen and (max-width: 50em){
    .input-grande[b-vz1gpb0n9e] {
        width: 330px; 
        height: 30px; 
        margin-left: 10px;
    }

    .olvido-contrasena[b-vz1gpb0n9e] {
        margin-left: 30%;
    }
}

@media screen and (max-width: 37.5em){
    .input-grande[b-vz1gpb0n9e] {
        width: 300px; 
        height: 30px; 
        margin-left: 10px;
    }

    .olvido-contrasena[b-vz1gpb0n9e] {
        margin-left: 15%;
    }
}

@media screen and (max-width: 34em){
    .input-grande[b-vz1gpb0n9e] {
        width: 170px; 
        height: 30px; 
        margin-left: 10px;
    }

    .olvido-contrasena[b-vz1gpb0n9e] {
        margin-left: 10%;
    }
}





/*-------------------Contenido-------------------------*/



/*------------------------ventana de tabs------------------*/
.wrap[b-vz1gpb0n9e]{
    width: 800px;
    max-width: 90%;
    margin: 30px auto;
}

ul.tabs[b-vz1gpb0n9e]{
    width: 100%;
    background: #217ce4;
    list-style: none;
    display: flex;
}

ul.tabs li[b-vz1gpb0n9e]{
    width: 50%;
}

ul.tabs li a[b-vz1gpb0n9e]{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 16px;
    text-align: center;

    display: block;
    padding: 20px 0px;
}

.active[b-vz1gpb0n9e]{
    background: #134b80;
}

ul.tabs li a .tab-text[b-vz1gpb0n9e]{
    margin-left: 8px;
}

.secciones[b-vz1gpb0n9e]{
    width: 100%;
    background: rgb(226, 226, 226);
}

.secciones article[b-vz1gpb0n9e]{
    padding: 30px;
}

.secciones article p[b-vz1gpb0n9e]{
    text-align: justify;
}

@media screen and (max-width: 400px){
    ul.tabs li[b-vz1gpb0n9e]{
        width: none;
        flex-basis: 0;
        flex-grow: 1;
    }
}

@media screen and (max-width: 400px){
    ul.tabs li a[b-vz1gpb0n9e]{
        padding: 15px 0px;
    }

    ul.tabs li a .tab-text[b-vz1gpb0n9e]{
        display: none;
    }

    .secciones article[b-vz1gpb0n9e]{
        padding: 20px;
    }
}










/* _content/BD/Views/Principal/Principal.cshtml.rz.scp.css */
/*================================Datos unicos de Principal====================================*/

main.Principal[b-d363q9wx8i] {
    padding: 20px;
    flex-grow: 1;
    margin-bottom: 50px;
}


.container[b-d363q9wx8i] {
    display: flex;
}



/* Sidebar */
.sidebar[b-d363q9wx8i] {
    width: 10%;
    background-color: #6aceec;
    color: #fff;
    padding: 20px;
    border: 3px solid #295c90;
    top: 100px;

    overflow: auto; 
}

.sidebar[b-d363q9wx8i]::-webkit-scrollbar {
    width: 10%; 
}

@media screen and (max-width: 1200px){
    .sidebar[b-d363q9wx8i]{
        width: 15%;
        height: 45%;
        top: 140px; 
       } 
}

@media screen and (max-width: 800px){
    .sidebar[b-d363q9wx8i]{
        width: 23%;
        height: 45%;
        top: 140px; 
       } 
}

@media screen and (max-width: 600px){
   .sidebar[b-d363q9wx8i]{
    width: 37%;
    height: 45%;
    top: 140px; 
   } 
}


.sidebar ul[b-d363q9wx8i] {
    list-style: none;
    padding: 0;
    min-height: calc(100vh - 90px);
}

.sidebar ul li[b-d363q9wx8i] {
    margin-bottom: 10px ;
    text-align: center;
    border: 1px solid #fffff1;
    border-radius: 5px; 
    padding: 5px;
    
}

.sidebar a[b-d363q9wx8i] {
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 10px;
    transition: background-color 0.3s ease;
}

.sidebar li:hover[b-d363q9wx8i],a:hover[b-d363q9wx8i] {
    background-color: #4788c7; 
}

/* Contenido */
.content[b-d363q9wx8i] {
    flex-grow: 1; 
    padding: 20px;
    
}

/* texto */

section[b-d363q9wx8i] {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
}

.design[b-d363q9wx8i]{
    display: none;
}


/*------------------------------tabla de notas----------------------------------*/
/*tabla*/
table[b-d363q9wx8i]{
    width: 100%;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 20px #0000001a;
}

table[b-d363q9wx8i], th[b-d363q9wx8i], td[b-d363q9wx8i]{  
    border: 1px solid black;
}

/*cuadros de tablas*/
th[b-d363q9wx8i], td[b-d363q9wx8i]{
    padding: 10px;
    text-align: center;
}

/*centrado de encabezado*/
th[b-d363q9wx8i]{
    background-color: #2199e9;
}

tbody[b-d363q9wx8i]{
    display: block;
    height: 300px; /* Ajusta la altura según tus necesidades */
    overflow-y: scroll;
}
/* _content/BD/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

header[b-6r6jv8821j] {
  background-color: #2199e9;
  color: #fff;
  padding: 20px;
  text-align: center;
}


a.navbar-brand[b-6r6jv8821j] {
  white-space: normal;
  text-align: center;
  word-break: break-all;

}

a[b-6r6jv8821j] {
  color: #0077cc;
}

.btn-primary[b-6r6jv8821j] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-6r6jv8821j], .nav-pills .show > .nav-link[b-6r6jv8821j] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-6r6jv8821j] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-6r6jv8821j] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-6r6jv8821j] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-6r6jv8821j] {
  font-size: 1rem;
  line-height: inherit;
}



.footer[b-6r6jv8821j] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;

  background-color: #2199e9;
  color: #000000;
  
  
  
}
